*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
   
}
body{
    background-color:$color-white-0; 
    font-size:$fs-1;
    line-height: $line-height-0;
    color:$color-black-0;    
    min-height:1000px;
    
}